[Unit]
Description=Renew Let's Encrypt Certificates

[Service]
Type=oneshot
UMask=0277

ExecStart=/usr/bin/certbot renew --force-renewal --agree-tos --post-hook '/bin/bash -c "while read s; do systemctl try-reload-or-restart \$s; done </etc/certbot-users"'

