[Unit]
Description=weekly check for letsencrypt renewals

[Timer]
OnCalendar=weekly
Persistent=True
RandomizedDelaySec=1h

[Install]
WantedBy=timers.target
